<mat-nav-list>

    <mat-divider></mat-divider>

    <h2 matSubheader>Home</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>dashboard</mat-icon>Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
        <mat-icon>vertical_split</mat-icon>
        Customers</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
        <mat-icon>group</mat-icon>
        Users</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
        <mat-icon>person</mat-icon>
        Account</a>

        <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
        <mat-icon>logout</mat-icon>
        Log out</a>
    <mat-divider></mat-divider>

    <h2 matSubheader>Resources</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>fiber_smart_record</mat-icon>
       Icons
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>font_download</mat-icon>
        Typography
    </a>

        <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
        <mat-icon>insert_link</mat-icon>
        Material Components</a>
        
        <a id="id1" mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
        <mat-icon>info</mat-icon>
        About</a>
</mat-nav-list>